## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [6]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_Database.csv")
city_data_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description,Date
0,0,Busselton,AU,-33.6500,115.3333,56.79,73,87,13.40,overcast clouds,2022-07-24 17:28:34
1,1,Hithadhoo,MV,-0.6000,73.0833,82.18,72,99,6.26,overcast clouds,2022-07-24 17:28:34
2,2,Clyde River,CA,70.4692,-68.5914,43.03,93,100,18.41,overcast clouds,2022-07-24 17:28:35
3,3,Lorengau,PG,-2.0226,147.2712,81.88,79,51,7.54,broken clouds,2022-07-24 17:28:35
4,4,Hilo,US,19.7297,-155.0900,79.29,83,100,6.91,overcast clouds,2022-07-24 17:27:00

In [7]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [8]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description,Date
1,1,Hithadhoo,MV,-0.6000,73.0833,82.18,72,99,6.26,overcast clouds,2022-07-24 17:28:34
3,3,Lorengau,PG,-2.0226,147.2712,81.88,79,51,7.54,broken clouds,2022-07-24 17:28:35
4,4,Hilo,US,19.7297,-155.0900,79.29,83,100,6.91,overcast clouds,2022-07-24 17:27:00
6,6,Tabou,CI,4.4230,-7.3528,75.63,80,100,8.39,light rain,2022-07-24 17:28:36
15,15,Hurricane,US,37.1753,-113.2899,88.50,39,76,2.01,broken clouds,2022-07-24 17:28:39
21,21,Ahuimanu,US,21.4447,-157.8378,78.51,72,75,12.66,broken clouds,2022-07-24 17:28:42
24,24,Havelock,US,34.8791,-76.9013,87.98,79,0,8.99,clear sky,2022-07-24 17:27:13
29,29,Rapid Valley,US,44.0625,-103.1463,85.42,47,0,15.99,clear sky,2022-07-24 17:28:45
37,37,Katsuura,JP,35.1333,140.3000,77.81,88,100,12.17,overcast clouds,2022-07-24 17:28:47
38,38,Kahului,US,20.8947,-156.4700,78.84,72,20,13.80,few clouds,2022-07-24 17:28:48

In [9]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

Unnamed: 0             251
City                   251
Country                251
Lat                    251
Lng                    251
Max Temp               251
Humidity               251
Cloudiness             251
Wind Speed             251
Weather Description    251
Date                   251
dtype: int64

In [12]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
# There were no empty rows
clean_df = preferred_cities_df
clean_df.head()

,Unnamed: 0,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description,Date
1,1,Hithadhoo,MV,-0.6000,73.0833,82.18,72,99,6.26,overcast clouds,2022-07-24 17:28:34
3,3,Lorengau,PG,-2.0226,147.2712,81.88,79,51,7.54,broken clouds,2022-07-24 17:28:35
4,4,Hilo,US,19.7297,-155.0900,79.29,83,100,6.91,overcast clouds,2022-07-24 17:27:00
6,6,Tabou,CI,4.4230,-7.3528,75.63,80,100,8.39,light rain,2022-07-24 17:28:36
15,15,Hurricane,US,37.1753,-113.2899,88.50,39,76,2.01,broken clouds,2022-07-24 17:28:39

In [14]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Hithadhoo,MV,82.18,overcast clouds,-0.6000,73.0833,
3,Lorengau,PG,81.88,broken clouds,-2.0226,147.2712,
4,Hilo,US,79.29,overcast clouds,19.7297,-155.0900,
6,Tabou,CI,75.63,light rain,4.4230,-7.3528,
15,Hurricane,US,88.50,broken clouds,37.1753,-113.2899,
21,Ahuimanu,US,78.51,broken clouds,21.4447,-157.8378,
24,Havelock,US,87.98,clear sky,34.8791,-76.9013,
29,Rapid Valley,US,85.42,clear sky,44.0625,-103.1463,
37,Katsuura,JP,77.81,overcast clouds,35.1333,140.3000,
38,Kahului,US,78.84,few clouds,20.8947,-156.4700,

In [18]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    

    # 6e. Make request and retrieve the JSON data from the search. 
   
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError,):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [19]:
hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Hithadhoo,MV,82.18,overcast clouds,-0.6000,73.0833,Scoop Guest House
3,Lorengau,PG,81.88,broken clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
4,Hilo,US,79.29,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
6,Tabou,CI,75.63,light rain,4.4230,-7.3528,hotêl doufoulougou
15,Hurricane,US,88.50,broken clouds,37.1753,-113.2899,Super 8 by Wyndham Hurricane Zion National Park
...,...,...,...,...,...,...,...
687,Erenhot,CN,77.13,scattered clouds,43.6475,111.9767,Erenhot Rurouni Youth Hostel
688,Lamu,KE,75.42,scattered clouds,-2.2717,40.9020,Lamu House
689,Wattegama,LK,77.74,overcast clouds,6.7989,81.4808,
692,Danciulesti,RO,88.83,broken clouds,44.7333,23.7500,Cabana Colt Verde
705,Korla,CN,89.38,broken clouds,41.7597,86.1469,Gulisitan Hotel

In [40]:
# 7. Drop the rows where there is no Hotel Name.
empty_hotel_idx = hotel_df["Hotel Name"] == ""
clean_hotel_df = hotel_df.loc[~empty_hotel_idx]
clean_hotel_df

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
1,Hithadhoo,MV,82.18,overcast clouds,-0.6000,73.0833,Scoop Guest House
3,Lorengau,PG,81.88,broken clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
4,Hilo,US,79.29,overcast clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
6,Tabou,CI,75.63,light rain,4.4230,-7.3528,hotêl doufoulougou
15,Hurricane,US,88.50,broken clouds,37.1753,-113.2899,Super 8 by Wyndham Hurricane Zion National Park
...,...,...,...,...,...,...,...
686,Tual,ID,78.57,overcast clouds,-5.6667,132.7500,Grand Vilia Hotel
687,Erenhot,CN,77.13,scattered clouds,43.6475,111.9767,Erenhot Rurouni Youth Hostel
688,Lamu,KE,75.42,scattered clouds,-2.2717,40.9020,Lamu House
692,Danciulesti,RO,88.83,broken clouds,44.7333,23.7500,Cabana Colt Verde
705,Korla,CN,89.38,broken clouds,41.7597,86.1469,Gulisitan Hotel

In [41]:
# 8a. Create the output File (CSV)
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv("WeatherPy_vacation.csv", index_label="City ID")

In [42]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [43]:
# 11a. Add a marker layer for each city to the map. 

fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))